/*

blue: #01aeea;
orange1: #ff9b00;
orange2: #ffa553;
red: #ff4519;

*/

#bounce-structure {
	display: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

a {
	cursor: pointer;
}

header h1 {
	margin-top: 6px;
}

.header-image {
	max-width: 500px;
	width: 80%;
	margin: 0em auto -10px !important;
}

.header-links {
	text-align: center;
	height: 50px;
}

.apple-link {
	margin: .5em auto -10px !important;
	display: inline-block;
	vertical-align: baseline;
}

.info-link {
	height: 40px;
	line-height: 2;
	color: #01aeea;
	border-color: #01aeea;
	margin-bottom: 1px;
}

.info-link:hover {
	color: #ff9b00;
	border-color: #ff9b00;
	background-color: white;
}

/* 

	top login bar 

*/
.login-bar {
	background-color: white;
	/*border-bottom: 1px solid #00aaf2;*/
	width: 100%;
}

.login-bar ul {
	list-style-type: none;
	margin: 0 !important;
}

.login-bar ul > li {
	float: right;
	padding: 0.5em;
}

.login-bar ul > li > a {
	color: white
	text-decoration: none;
}

#bounce-mode {
	margin-top: 2.6em;
}

#bounce-mode label {
	background-color: white;
	color: #01aeea;
	border-color: #01aeea;
}


#bounce-mode label.active {
	background-color: #01aeea;
	color: white;
}

#geoloc-waiting,
#geoloc-error {
	background-color: white;
	color: #337ab7;
	position: fixed;
	z-index: 10;
	left: 50%;
	width: 50%;
	margin: 0 0 0 -25%;
	top: 50%;
	padding: 1em; 
	border-radius: 4px;
	border: 2px solid #337ab7;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.header-logo {
		margin-left: 3em;
	}

	#geoloc-waiting,
	#geoloc-error {
		width: 75%;
		margin: 0 0 0 -37.5%;
		padding: 0.5em; 
		border-radius: 2px;
		border-size: 1px;
		font-size: 0.8em !important;
	}
	#rad-select {
		margin-left: 5%;
	}
}

#geoloc-error {
	color: red;
	border-color: red;
}

#geoloc-waiting h2,
#geoloc-error h2 {
	margin: 0;
	font-size: 1.4em;
}

.panel-control {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 2em;
}

.container-fluid {
	padding: 0;
	margin-top: -5px;
}

.layout-wrapper {
	width: 100%;
	margin-left: auto !important;
	margin-right: auto !important;
}

.bounce {
	padding: 1em;
	border-radius: 6px;
	background-color: white;
	margin-bottom: 4%;
}

@media only screen and (min-width: 768px) {
	.layout-wrapper {
		width: 60%;
	}

	body {
		background-color: #f5f5f5;
	}
}

.circular img {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 150px;
	   -moz-border-radius: 150px;
			border-radius: 50%;
}

.circular {
	text-align: left;
	padding-left: 3%;
	padding-top: 5%;
}

.name-text {
	margin-top: 4%;
	line-height: 20px;
	margin-left: -15%;
	margin-right: 10%;
}

@media screen and (min-width: 768px) {
	.name-text{
		margin-left: -12%;
		margin-right: 0;
	}
	.name-text h2 {
		font-size: 24px;
	}
	.name-text h4, .distance h3 {
		font-size: 14px;
	}
	.distance {
		margin-left: 12%;
		margin-top: 5% !important;
	}
	.name-text h4 {
		width: 200px;
	}
	.labels-top {
		margin-left: 3px;
		width: 350px;
	}
}

.name-text h4,
.distance h3,
.comments h3,
.likes h3 {
	color: grey;
}

.distance {
	text-align: right;
}

.message-text {
	margin-top: 4%;
	margin-bottom: -3% !important;
	padding-left: 3%;
}

.message-image,
.name-text,
.distance,
.likes {
	margin-top: 4%;
}

.expiration {
	margin-bottom: 4%;
	margin-right: 20%;
	width: 35%;
	text-align: left;
	padding-left: 3%;
	margin-left: 5%
}

@media screen and (max-width: 768px) {
	.expiration{
		margin-right: 0;
		width: 45%;
	}

	.expiration h3 {
		font-size: 10px;
	}

	.number-likes, .number-comments {
		font-size: 12px;
	}

	.name-text h2 {
		font-size: 18px;
	}

	.name-text h4 {
		font-size: 12px;
		width: 200px;
	}

	.fa-heart {
		font-size: 12px;
	}

	.fa-comment {
		font-size:12px;
	}

	.likes-div, .comments-div {
		margin-top: -10px;
	}

	.comment-name {
		font-size: 15px;
		width: 300px;
	}

	.btn-group {
		margin-left: 5px !Important;
	}
}

@media screen and (max-width: 767px) {
	.line-sep {
		border-top: solid;
		border-color: darkgrey;
		border-width: 1px;
		margin-top: 3em;
	}
	#bounce-mode {
		margin-bottom: -2em;
	}
}

@media screen and (max-width: 663px) {
	.comment-text {
		width: 80%;
		margin-left: 4.5em;
		margin-top: -1.5em !important;
	}
}

@media screen and (max-width: 768px) {
	.comment-text {
		width: 80%;
		float: left;
	}
	.comment-section {
		margin-bottom: 5%;
	}
	.message {
		word-wrap: break-word;
	}
	.distance h3 {
		font-size: 12px;
	}
	.distance {
		width: 60px;
		padding: 0;
		margin-top: 5%;
	}
	.name-text {
		margin-left: -8%;
		margin-right: 4%;
		word-wrap: break-word;
	}
	.circular img {
		height: 80px;
		width: 80px;
	}

}

@media screen and (min-width: 1400px) {
	.circular {
		margin-right: -5%;
		margin-left: 5%;
	}
	.message {
		font-size: 18px;
	}
	.name-text h2 {
		font-size: 32px;
		width: 400px;
	}
	.name-text h4, .distance h3 {
		font-size: 20px;
	}
}

@media screen and (min-width: 769px) {
	.expiration h3 {
		font-size: 18px;
		width: 120%;
	}
	.likes-div h3, .comments-div h3 {
		font-size: 18px;
	}
	.comment-text{
		margin-left: 0.5em;
	}
}

.comment {
	margin-top: 4%;
}

.comment-image,
.comment-name,
.comment-text {
	margin-top: 2%;
}

.comments,
.likes {
	text-align: center;
}

.comment img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	float: left;
	margin-right: 1em;
}

.comment-name,
.comment {
	line-height: 2;
}

.comment-name,
.name-text {
	font-weight: bold;
}

.comment-text {
	color: #5b5b5b;
}

.load-all-comments {
	width: 100%;
	margin: 5% 0 2em;
	background-color: white;
	color: #01aeea;
	border-color: #01aeea;
}

.fa.fa-eye {
	color: #01aeea;
}

/* 

	slider customization 

*/
.slider.slider-horizontal {
	width: 300px;
}

.slider-handle {
	background-image: none;
	background-color: #FF460C;
}

.slider-selection.tick-slider-selection {
	background-image: none;
	background-color: #FCA35A;
	width: 100%;
}

.slider-tick.in-selection {
	background-image: none;
	background-color: #01aeea;
}

.slider.slider-horizontal .slider-selection,
.slider.slider-horizontal .slider-track-low,
.slider.slider-horizontal .slider-track-high {
	top: 2px;
	height: 40%;
	margin-left: -10px;
}

.slider .tooltip.top {
	display: none;
}

.slider-track-low,
.slider-track-high {
	background-image: none;
	background-color: #fca35a;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef', endColorstr='#ff81bfde', GradientType=0);
}

.slider-handle.round {
	margin-top: -10px !important;
	margin-left: -15px !important;
	width: 27px;
  	height: 27px;
}

.slider-tick {
	width: 11px;
	height: 11px;
	background-image: none;
	background-color: #01aeea;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01aeea', endColorstr='#01aeea', GradientType=0);
	opacity: 1;
}

@media screen and (max-width: 768px) {
	.main-slider {
		margin-left:4%;
	}
}

@media screen and (min-width: 332px) and (max-width: 768px) {
	.slider.slider-horizontal {
		margin-left: -3%;
	}
}

@media screen and (max-width: 768px) {
	.slider.slider-horizontal {
		width: 255px;
	}
	.labels-top li {
		margin-left: -4%;
		margin-right: -4%;
		padding-left: 2%;
		padding-right: 3%;
	}
	.labels-values li {
		margin-left: -1%;
		margin-right: -2.5% !important;
	}
	.labels-units li {
		margin-left: -1%;
		margin-right: -2.5% !important;
	}
}

/* slider labels */
.slider-labels {
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -55px;
	height: 30px;
	z-index: -1;
}

.slider-labels ul {
	padding: 0;
}

.slider-labels li {
	list-style-type: none;
	display: inline;
}

.labels-top li:nth-child(2) {
	padding-left: 114px;
	padding-right: 114px;
}

.labels-values li {
	font-size: 1.5em;
	position: relative;
	top: 16px;
	margin-right: -1px;
}

.labels-values li:nth-child(1) {
	left: -102px;
}

.labels-values li:nth-child(2) {
	left: -52px;
}

.labels-values li:nth-child(3) {
	left: 6px;
}

.labels-values li:nth-child(4) {
	left: 46px;
}

.labels-values li:nth-child(5) {
	left: 88px;
	top: 22px;
	font-size: 2.8em;
}

.labels-units li {
	font-size: 0.8em;
	position: relative;
	top: -8px;
	margin-right: -1px;
}

.labels-units li:nth-child(1) {
	left: -93px;
}

.labels-units li:nth-child(2) {
	left: -45px;
}

.labels-units li:nth-child(3) {
	left: 8px;
}

.labels-units li:nth-child(4) {
	left: 51px;
}

.labels-units li:nth-child(5) {
	left: 90px;
}

/* swipebox */
#swipebox-next,
#swipebox-prev {
	display: none;
}

/* text color */

.expiration,
.likes-div,
.comments-div {
	color: #808080;
}

@media screen and (min-width: 768px) {
	.author {
		margin-right: -30%;
	}
}

/* 

	fix specific problems on chrome for iphone 

*/
.iphone-chrome .labels-top li:nth-child(2) {
	padding-left: 104px;
	padding-right: 104px;
}

.iphone-chrome .labels-values li:nth-child(1) {
	left: -96px;
}

.iphone-chrome .labels-values li:nth-child(2) {
	left: 50px;
}

.iphone-chrome  .labels-values li:nth-child(3) {
	left: 0px;
}

.iphone-chrome  .labels-values li:nth-child(4) {
	left: 52px;
}

.iphone-chrome  .labels-values li:nth-child(5) {
	left: 88px;
	top: 0;
	font-size: 2.2em;
}


.createBounce textarea {
	width: 100%;
	-webkit-transition:width 0.3s ease-in-out;
	border-radius: 4px !important;
	border: 1px solid #999;
	resize: none;
	float: left; 
	width: 92%; 
	display: table-cell; 
	width: calc(100% - 50px - 1em);
}

.createBounce textarea:focus {
	outline: none !important;
	border: 1px solid #01aeea;
	box-shadow: none;
}

.createBounce textarea.full-height {
	height: 150px;
	-webkit-transition:width 0.5s ease-in-out;
}

.validation-error {
	color: #ff9b00;
}

.createBounce {
	margin-bottom: 1em;
}

.createButtons,
.createBounce.margin-extended {
	margin-bottom: 2em;
}

.createButtons {
	width: calc(100% - 50px - 1em);
}

.btn-group-justified>.btn-group .btn {
	width: 80%;
}

.form-control {
	width: 80%;
}

.checkbox .fa-facebook {
	color: #3a5795;
	font-size: 16px;
}

.checkbox {
	margin-top: 4px;
}

.fa-twitter {
	color: #55acee;
	font-size: 16px;
}

@media screen and (max-width: 767px) {
	.createBounce,
	.createButtons {
		margin-right: 15px;
		margin-left: 15px;
	}
	#bounce-mode {
		margin-bottom: 0 !important;
	}
	#bounceInput {
		font-size: 13px;
	}
}

option {
	text-align: center;
	width: 100%;
}

.btn-group {
	text-align: center;
	margin-top: 2%;
}

/*checkbox styling*/

input[type=checkbox] {
	display:none;
}

label > .fa-facebook, .fa-eye, .fa-twitter {
	font-size: 2em !important;
}

/*grey out when not checked*/
input[type=checkbox] ~ label > .fa-facebook,
input[type=checkbox] ~ label > .fa-twitter,
input[type=checkbox] ~ label > .fa-eye {
	color: grey !important;
}

/*color when checked*/
input[type=checkbox]:checked ~ label > .fa-facebook {
	color: #48649F !important;
}
input[type=checkbox]:checked ~ label > .fa-twitter {
	color: #55ACEE !important;
}
input[type=checkbox]:checked ~ label > .fa-eye {
	color: #01AEEA !important;
}

#photo-btn {
	font-size: 1.5em !important;
}

@media screen and (min-width: 378px) {
	select.radius {
		min-width: 98px;
	}

	select.expiration {
		min-width: 95px;
	}
}

#photo-btn {
	padding: 1px !important;
}

@media screen and (max-width: 600px) {
	select {
		width: 100% !important;
	}
	#exp-select{
		margin-left: 10px;

	}
}

.extra {
	display: none;
	position: absolute;
	top: 35px;
	left: 20px;
	border-radius: 10px;
	background-color: white;
	border-width: thin;
	border-style: solid;
	padding: 4px;
}

.checkbox:hover .extra {
	display: inline-block;
}

@media screen and (max-width: 767px) {
	.extra {
		font-size: 10px;
	}
}

.bounce-btn {
	height: 46px;
	width: auto;
	border-radius: 6px;
}

.bounce-btn:focus {
	outline: none;
}

/* drag and drop a file in this area */
.drop {
	margin: 10px 0;
  padding: 15px;
  border: 2px #999 dashed;
  border-radius: 5px;
  line-height: 34px;
}

.drop strong {
	margin: 0 1em;
}

.progress-bar {
	height: 8px;
	border-radius: 4px !important; /* wasn't able to put 0px on every corner */
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.progress-bar-striped, .progress-striped .progress-bar {
	background: #ff9b00;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.red-heart {
	color: red;
}

#share-icons {
	margin-right: 2em;
}