
<div class="row">
  <div class="user-photo col-xs-4 col-sm-4 circular">
    <img src="{{ bounce.author.picture }}" alt="bounce {{ bounce.author.username }} portrait"  />
  </div>
  <div class="col-xs-6 col-sm-4 name-text">
    <h2 class="author">{{ bounce.author.username }}</h2>
    <h4>bounced {{ bounce.postDate | prettyDurationStr }} ago</h4>
  </div>
  <div class="col-xs-8 col-sm-3 distance">
    <h3><span class="distance-number"></span>{{ bounce.distance | toFixed : 1 }} <i class="fa fa-eye"></i> mi</span></h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-18 col-sm-12 message-text">
    <p class="message" ng-bind-html="bounce.message | linky:'_blank' | toTrust">{{ bounce.message }}</p>
  </div>
</div>
<div class="row">
  <div class="main-image col-xs-12 col-sm-12 message-image">
    <!-- main image served in lightbox -->
    <a ng-if="bounce.files !== undefined" class="swipebox" href="{{ bounce.files[0].url }}" title="{{ bounce.message }}">
      <img src="{{ bounce.files[0].url }}" class="img-responsive" alt="message image" rel="gallery-{{ bounce.bounceId }}"/>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4 expiration">
    <h3><i class="fa fa-clock-o"></i> expires in {{ bounce.expDate | prettyDurationStr }}</span></h3>
  </div>
  <div class="col-xs-3 col-sm-2 likes-div">
    <h3><i class="fa fa-heart" ng-class="{ 'red-heart': bounce.likes.length > 0 }"></i> <span class="number-likes">{{ bounce.likes.length || 0 }}</span></h3>
  </div>
  <div class="col-xs-3 col-sm-2 comments-div">
    <h3><i class="fa fa-comment"></i> <span class="number-comments">{{ bounce.comments.length || 0 }}</span></h3>
  </div>
</div>

<!-- bounce comments: pass the bounce to the new controller on creation -->
<div id="comments" ng-controller="CommentsController" ng-init="init(bounce)">
  <div class="comment" ng-repeat="comment in comments">
    <div class="row">
      <div class="col-xs-12 comment-section">
        <img src="{{ comment.userPicture }}" class="img-responsive" alt="bounce {{ comment.username }} portrait" />
        <span class="comment-name">{{ comment.username }}</span>
        <span class="comment-text" ng-bind-html="comment.comment | linky | toTrust">{{ comment.comment }}<span class="visible-xs" ng-if="comment.comment.length > 29"><!-- ... --></span></span>
      </div>
    </div>
  </div>

  <a class="btn btn-default load-all-comments" role="button" ng-if="bounce.comments.length > 2" ng-click="loadAllComments()" ng-hide="hideButton">Load All Comments</a>
</div><!-- end comments -->
<div class="row">
	<div class="col-xs-18 col-sm-12 line-sep"></div>
</div>